html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  width: 33%;
  margin: auto;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.login-form {
  width: 100%;
}

.login-form-forgot {
  float: right;
}

.login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}